* {
    box-sizing:border-box;
}
body {
    background-color: #003C71;
    position:absolute;
    top:-16px;
    width:100%;
    
}
img {
    width:100%;
    height:auto;
    display:block;
}

@import "header";
@import "container";
@import "footer";
@import "main";